:root {
    --background-gradient: linear-gradient(to right, #101828, #243961);
    --border-gradient: linear-gradient(to right, #243961, #101828);
}

* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

nav {
    padding-block: 1.13rem;
    padding-inline: 5rem;
    display: flex;
    width: 100%;
    color: white;
    align-items: center;
    justify-content: space-around;
    position: absolute;

    ul {
        display: flex;
        flex-wrap: wrap;
        margin-inline-start: 0;
        gap: 2rem;

        li {
            list-style: none;
            font-weight: 500;
            font-size: 1rem;
        }
    }

    a {
        text-decoration: none;
        color: white;
    }

    p {
        font-weight: 800;
    }

    p a {
        border-radius: 50px;
        color: black;
        background-color: white;
        padding: 0.5rem 1.2rem;
    }
    
    .hamburguermenu {
        @media (width > 768px) {
            display: none;
        }
    }

    .dropdacess {
        color: white;
        border: none;
        background-color: transparent;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }
    
    .dropdcontent {
        display: none;
        position: absolute;
        background-color: blue;
    }

    .dropdown:hover .dropdcontent {
        display: block;
    }

    .dropdown:hover .dropdacess {
        background-color: blue;
    }
}

#home {
    background: url(/img/hero-background.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    background-size: 105%;

    #hometext {
        color: white;
        justify-content: center;
        margin: 0 50% 30px 5%;
        font-size: 1rem;
        font-weight: 400;
    }
    
    #shopnowbutton {
        border-radius: 50px;
        border: 1px white solid;
        margin: 30px 50% 0 5%;
        padding: 1rem 1.75rem;
        text-decoration: none;
        color: white;
    }

    h1 {
        color: white;
        justify-content: center;
        padding: 16% 50% 0 5%;
        font-size: 3.75rem;
        font-weight: 400;
    }
}

.sectiontitle {
    font-size: 2.2rem;
    padding: 1rem 0;
    margin: 4.5rem 5rem;
    border-block-end: 0.2px solid #000000;
}

#featuredproducts {
    border: 0.2px solid #000000;
    margin: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    padding: 2.5rem 1.3rem;
    gap: 40px;
 
    header {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 10px;
 
        h2 {
            margin-inline-end: auto;
        }

        svg#searchicon {
            left: 73%;
            z-index: 1;
            pointer-events: none;
        }
 
        input {
            border: none;
            border-radius: 50px;
            background-color: #F4F4F4;
            font-weight: 600;
            padding: 1.6rem 8.75rem 1.6rem 2.8rem;
        }
    }

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        width: 100%;

        li {
            list-style: none;
            font-weight: 600;
            font-size: 1.125rem;
            
            a, a:link, a:visited {
                color: black;
                text-decoration: none;
            }

            &#selectedcategory {
                font-weight: 600;
                background-image: var(--background-gradient);
                border: 1px solid;
                border-image: var(--border-gradient);
                border-radius: 8px;
                padding: 1rem 1.5rem;
            
                a {
                    color: white;
                }
            }
        }
    }

    #maincontainer {
        width: 100%;
        flex-grow: 1;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1rem;
        
        .product {
            display: flex;
            position: relative;
            flex-direction: column;
            flex-wrap: wrap;
            
            img {
                object-fit: cover;
                height: 27rem;
                border-radius: 10px;
            }
            
            .cardcontainer {
                display: none;
                position: absolute;
                background-color: #1018288A;
                width: 100%;
                height: 100%;
                
                header {
                    justify-content: space-between;
                    padding: 2.2rem 1.3rem;
                }
                
                button {
                    background-color: transparent;
                    border: none;
                }
    
                footer {
                    display: flex;
                    justify-content: center;
                    gap: 1rem;

                    .actioncard {
                        display: flex;
                        border-radius: 8px;
                        padding: 1rem 1.2rem;
                        border-image: var(--border-gradient);
                        background-image: var(--background-gradient);
                        box-shadow: 5px 4px 4px 0px #00000040 inset;
                        box-shadow: -4px -5px 4px 0px #00000059 inset;
                        gap: 1rem;
                        
                        p, li, a, a:hover, a:link {
                            text-decoration: none;
                            color: white;
                            list-style: none;
                        }

                        button {
                            color: white;
                        }
                    }
                }
            }

            &:hover {
                div {
                    display: block;
                    border-radius: 10px;
                }
            }
        }

    }
    
    p {
        width: 100%;
        a {
            justify-content: end;
        }
    }
}

#services {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    img {
        grid-template-areas: "img1 img2 img3"
                             "img4 img5 img3";
        grid-area: img1 img2 img3
                   img4 img5 img3;
    }
}