* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

nav {
    padding-block: 1.13rem;
    padding-inline: 5rem;
    display: flex;
    width: 100%;
    color: white;
    align-items: center;
    justify-content: space-around;
    position: absolute;

    ul {
        display: flex;
        flex-wrap: wrap;
        margin-inline-start: 0;
        gap: 2rem;

        li {
            list-style: none;
            font-weight: 500;
            font-size: 1rem;
        }
    }

    a {
        text-decoration: none;
        color: white;
    }

    p {
        font-weight: 800;
    }

    p a {
        border-radius: 50px;
        color: black;
        background-color: white;
        padding: 0.5rem 1.2rem;
    }
    
    .hamburguermenu {
        @media (width > 768px) {
            display: none;
        }
    }

    .dropdacess {
        color: white;
        border: none;
        background-color: transparent;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }
    
    .dropdcontent {
        display: none;
        position: absolute;
        background-color: blue;
    }

    .dropdown:hover .dropdcontent {
        display: block;
    }

    .dropdown:hover .dropdacess {
        background-color: blue;
    }
}

#home {
    background: url(/img/hero-background.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    background-size: 105%;

    #hometext {
        color: white;
        justify-content: center;
        margin: 0 50% 30px 5%;
        font-size: 1rem;
        font-weight: 400;
    }
    
    #shopnowbutton {
        border-radius: 50px;
        border: 1px white solid;
        margin: 30px 50% 0 5%;
        padding: 1rem 1.75rem;
        text-decoration: none;
        color: white;
    }

    h1 {
        color: white;
        justify-content: center;
        padding: 16% 50% 0 5%;
        font-size: 3.75rem;
        font-weight: 400;
    }
}

.sectiontitle {
    font-size: 2.2rem;
    padding: 1rem 0;
    margin: 4.5rem 5rem;
    border-block-end: 0.2px solid #000000;
}

#featuredproducts {
    border: 0.2px solid #000000;
    margin: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    padding: 2.5rem 1.3rem;
    gap: 40px;
 
    header {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 10px;
 
        h2 {
            margin-inline-end: auto;
        }

        svg#searchicon {
            left: 73%;
            z-index: 1;
            pointer-events: none;
        }
 
        input {
            border: none;
            border-radius: 50px;
            background-color: #F4F4F4;
            font-weight: 600;
            padding: 1.6rem 8.75rem 1.6rem 2.8rem;
        }
    }

    ul {
        gap: 2rem;

        li {
            list-style: none;
            font-weight: 600;
            font-size: 1.125rem;
        }
    }

    div {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "img1 img2 img3";
        gap: 1rem;

        .product {
            grid-area: img1 img2 img3;
            
            header {
                justify-content: space-around;
                display: flex;
                flex-wrap: wrap;
            }
            
            img {
                opacity: 30%;
                height: 27rem;
                border-radius: 10px;
            }
        }
    }
}